{% assign lang = page.lang | default: 'en' %}
{% assign t = site.data.i18n[lang] %}

{% if page.ref %}
  {% comment %} Post: find the translated version by matching ref {% endcomment %}
  {% assign alt_lang = 'it' %}
  {% if lang == 'it' %}{% assign alt_lang = 'en' %}{% endif %}
  {% assign alt_post = site.posts | where: "ref", page.ref | where: "lang", alt_lang | first %}
  {% if alt_post %}
    <a class="lang-switcher has-translation" href="{{ site.baseurl }}{{ alt_post.url }}" title="{{ t.lang_switch_title }}">{{ t.lang_switch }}</a>
  {% else %}
    <span class="lang-switcher" title="No translation available">{{ t.lang_switch }}</span>
  {% endif %}
{% else %}
  {% comment %} Static page: link to its translated counterpart {% endcomment %}
  {% if lang == 'en' %}
    <a class="lang-switcher has-translation" href="{{ site.baseurl }}/it{{ page.url }}">IT</a>
  {% else %}
    <a class="lang-switcher has-translation" href="{{ site.baseurl }}{{ page.url | remove_first: '/it' }}">EN</a>
  {% endif %}
{% endif %}
